<h1>_cron_handle_task_00</h1>
<br/>
{loop $loop_ $index $second}
* * * * * sleep {$second}; /data/wwwroot/default/superdesk/addons/superdesk_jd_vop/task/_cron_handle_task_00.sh<br/>
{/loop}
<br/>
<h1>_cron_handle_task_01_page_num</h1>
<br/>
{loop $loop_ $index $second}
* * * * * sleep {$second}; /data/wwwroot/default/superdesk/addons/superdesk_jd_vop/task/_cron_handle_task_01_page_num.sh<br/>
{/loop}
<br/>
<h1>_cron_handle_task_02_sku_4_page_num</h1>
<br/>
{loop $loop_ $index $second}
* * * * * sleep {$second}; /data/wwwroot/default/superdesk/addons/superdesk_jd_vop/task/_cron_handle_task_02_sku_4_page_num.sh<br/>
{/loop}
<br/>
<h1>_cron_handle_task_03_sku_detail</h1>
<br/>
{loop $loop_ $index $second}
* * * * * sleep {$second}; /data/wwwroot/default/superdesk/addons/superdesk_jd_vop/task/_cron_handle_task_03_sku_detail.sh<br/>
{/loop}
<br/>