{template '__header'}
<link href="{$_W['siteroot']}/app/resource/css/font-awesome.min.css" rel="stylesheet">

<!-- container-fluid -->
<div class="container" style="background-image: url({MODULE_URL}template/mobile/img/bg.png);background-size: cover;">

    <div class="row" style="margin-top: 1rem;">

        <div class="col-md-12">
            <button></button>


        </div>
    </div>


    <div class="row">
        <div class="col-xs-12" style="height: 6rem;">&nbsp;</div>
    </div>
</div>
{template '__nav'}
{template '__footer'}