{template '_header'}


<div class="page-heading"> <h2>订单来源-已排除-已取消 (为了公平-只统计2018/07/15之后的订单)</h2></div>

<div class="panel panel-default">
    <div class="panel-heading">饼图</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div id="container_01" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="col-sm-6">
                <div id="container_02" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" src="{SUPERDESK_SHOPV2_STATIC}js/dist/highcharts/highcharts.js"></script>
<script type="text/javascript">

    $(function () {

        var result_01 = {php echo json_encode($result_01);};
        var result_02 = {php echo json_encode($result_02);};

        console.log(result_01);
        console.log(result_02);

        result_01 = JSON.parse(JSON.stringify(result_01));
        result_02 = JSON.parse(JSON.stringify(result_02));

        console.log(result_01);
        console.log(result_02);

        // Make monochrome colors
        var pieColors = (function () {
            var colors = [],
                base = Highcharts.getOptions().colors[0],
                i;

            for (i = 0; i < 10; i += 1) {
                // Start out with a darkened base color (negative brighten), and end
                // up with a much brighter color
                colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
            }
            return colors;
        }());


        $('#container_01').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth    : null,
                plotShadow         : false,
                type               : 'pie'
            },
            title: {
                text: '全部',
            },


            tooltip    : {
                enabled  : false,
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br>' + this.x + ': ' + this.y + '°C';
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor          : 'pointer',
                    colors          : pieColors,
                    dataLabels      : {
                        enabled : true,
                        format  : '<b>{point.name}</b><br>{point.percentage:.1f} %',
                        distance: -50,
                        filter  : {
                            property: 'percentage',
                            operator: '>',
                            value   : 4
                        }
                    }
                }
            },
            series     : [
                {
                    name: '订单',
                    data: result_01
                }]
        });

        $('#container_02').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth    : null,
                plotShadow         : false,
                type               : 'pie'
            },
            title: {
                text: '已完成',
            },


            tooltip    : {
                enabled  : false,
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br>' + this.x + ': ' + this.y + '°C';
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor          : 'pointer',
                    colors          : pieColors,
                    dataLabels      : {
                        enabled : true,
                        format  : '<b>{point.name}</b><br>{point.percentage:.1f} %',
                        distance: -50,
                        filter  : {
                            property: 'percentage',
                            operator: '>',
                            value   : 4
                        }
                    }
                }
            },
            series     : [
                {
                    name: '订单',
                    data: result_02
                }]
        });

    });
</script>
{template '_footer'}