{template 'common/header'}

<style type='text/css' xmlns="http://www.w3.org/1999/html">
    ol {
        list-style: none;
    }

    .dd-handle {
        height: 40px;
        line-height: 30px;
        display: block;
        margin: 5px 0;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #ebebeb;
        background: #fff;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .dd {
        padding-left: 0;
    }

    .dd-list {

    }
</style>

<div class="alert alert-danger" id="tb_num">
提示：<br/>
1. 如要增加分类,请联系平台添加<br/>
2. PageNum 为0的是系统内分类，将被替代，不为0的是京东分类
</div>

<form action="" method="post" class="form-validate">

    <div class="dd" id="div_nestable">
        <ol class="dd-list" style="padding-left: 0">
            {loop $category $row}
            {if empty($row['parentid'])}
            <li class="dd-item full" data-id="{$row['id']}">
                <div class="dd-handle">[ID: {$row['id']}] {$row['name']}
                    <span class="pull-right">
                        <!--<div class='label {if $row['enabled']==1}label-success{else}label-default{/if}'>{if $row['enabled']==1}显示{else}隐藏{/if}</div>-->
                    </span>
                </div>
                {if count($children[$row['id']])>0}
                <ol class="dd-list">
                    {loop $children[$row['id']] $child}
                    <li class="dd-item full" data-id="{$child['id']}">
                        <div class="dd-handle">[ID: {$child['id']}] {$child['name']}
                            <span class="pull-right">
                                <!--<div class='label {if $child['enabled']==1}label-success{else}label-default{/if}'>{if $child['enabled']==1}显示{else}隐藏{/if}</div>-->
                            </span>
                        </div>
                        {if count($children[$child['id']])>0}
                        <ol class="dd-list">
                            {loop $children[$child['id']] $third}
                            <li class="dd-item" data-id="{$third['id']}">
                                <div class="dd-handle">[ID: {$third['id']}] {$third['name']} [PageNum: {$third['jd_vop_page_num']}]

                                    <span class="pull-right" style="margin: 0 2rem; width: 5rem;">
                                        <a href="javascript:void(0);" data-id="{$third['id']}" class="btn btn-default btn-sm btn_update_fiscal_code" data-toggle="tooltip" data-placement="top" title="保存"><i class="fa fa-pencil">&nbsp;保存</i></a>
                                    </span>
                                    <span class="pull-right" style="margin: 0 2rem; width: 40rem;">
                                        <input type="text" name="fiscal_code" class="form-control" data-id="{$third['id']}" value="{$third['fiscal_code']}" placeholder="请填写财务代码 eg: 1090512990000000000"/>
                                    </span>
                                    <span class="pull-right" id="showContent_{$third['id']}">
                                        <!--<div class='label {if $third['enabled']==1}label-success{else}label-default{/if}'>{if $third['enabled']==1}显示{else}隐藏{/if}</div>-->
                                    </span>
                                </div>
                            </li>
                            {/loop}
                        </ol>
                        {/if}
                    </li>
                    {/loop}
                </ol>
                {/if}
            </li>
            {/if}
            {/loop}
        </ol>
    </div>
</form>

<script type="application/javascript">

    var do_btn_update_fiscal_code = function (id , fiscal_code , isThen) {
        $("#showContent_"+id).html("提交中 ...");
        return $.ajax({
            type: "POST",
            url: "{php echo $this->createWebUrl('shop_product_category_2_fiscal', array('op' => 'edit'));}",
            data: {
                fiscal_code : fiscal_code,
                id: id
            },
            success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                if (obj.status == 0) {
                    $("#showContent_"+id).html(obj.result.message);
                } else if (obj.status == 1) {
                    $("#showContent_"+id).html("已保存");
                }
            }
        }).then(function () {
            if(isThen){ }
        });
    };

    $(".btn_update_fiscal_code").on("click", function(){

        var id = $(this).data('id');
        var fiscal_code = $("input[data-id=" + id + "]").val();

        if(fiscal_code == '') {
            $("#showContent_"+id).html("请填写代码");
            return ;
        }

        do_btn_update_fiscal_code(id, fiscal_code, false);
    });
</script>

{template 'common/footer'}