{template '__header'}

<link rel="stylesheet" type="text/css" href="{MODULE_URL}template/mobile/css/boardroom.css" />
<script type="text/javascript" src="{$_W['siteroot']}/app/resource/js/lib/moment.js"></script>
<script type="text/javascript" src="{MODULE_URL}template/mobile/js/boardroom.js"></script>




<div class="pagebottomlogo"></div>
<!--boardroom_info test_form-->
<form action="{php echo murl('entry' , array('m'=>'superdesk_boardroom_4school' , 'do'=>'boardroom_info'))}" method="post" id="form_submit">
    <input type="hidden" name="id" value="{$id}"/>
    <input type="hidden" name="structures_parentid" value="{$structures_parentid}"/>
    <input type="hidden" name="structures_childid" value="{$structures_childid}"/>
    <input type="hidden" name="attribute" value="{$attribute}"/>
<div class="outer">
    <div class="datetimeswrap">
        <!-- 日期时间选择 -->
        <div class="datetimesel">
            <div class="datesel">

                <i class="dateicon"></i>
                <div class="datestart">
                    <em id="span_date_selected">{$span_date_start}</em>
                    <input type="text" name="date_selected" id="date_selected" value="{$date_start}" class="ime-mode" style="width: 100%;" readonly />
                </div>
            </div>
            <div class="timesel">
                <i class="timeicon"></i>
                <div class="timestart">
                    <span>开始时间</span>
                    <em id="span_time_start">{$time_start}</em>
                    <input type="time" id="time_start" name="time_start" value="{$time_start}" readonly/>
                </div>
                <div class="timeend">
                    <span>结束时间</span>
                    <em id="span_time_end">{$time_end}</em>
                    <input type="time" id="time_end" name="time_end" value="{$time_end}" readonly/>
                </div>
            </div>
        </div>
        <!-- 筛选 -->
        <div class="tabnav">
            <!-- tabanvsel——选中 tabnavoptions——选择中 -->
            <a href="javascript: void(0);" class="tabnavitem" data-type="building" alt="building" >
                <span><em>选择楼栋</em><i class="downarrow"></i></span>
            </a>
            <a href="javascript: void(0);" class="tabnavitem" date-type="floor" alt="floor" >
                <span><em>选择楼层</em><i class="downarrow"></i></span>
            </a>
            <a href="javascript: void(0);" class="tabnavitem" date-type="room" alt="room">
                <span><em>选择属性</em><i class="downarrow"></i></span>
            </a>
        </div>
    </div>
    <div class="tabconmask">
        <div class="tabcon"  data-type="building">
            <ul class="tabconlist">
                <!-- 选中添加样式 tabconsel -->
                <div id="building" class="list_content">
                    <li class="" data-id="0">
                        <span class="ellipsis">选择楼栋</span>
                        <i class="iconCorrect"></i>
                    </li>
                    {loop $parent $index $child_item}
                    <li class="{if $child_item['id'] == $attribute} tabconsel {/if}" data-id="{$child_item['id']}">
                        <span class="ellipsis">{$child_item['name']}</span>
                        <i class="iconCorrect"></i>
                    </li>
                    {/loop}
                </div>

                <div id="floor" class="list_content">

                </div>

                <div id="room" class="list_content">
                    <li class="" data-id="0">
                        <span class="ellipsis">选择属性</span>
                        <i class="iconCorrect"></i>
                    </li>
                    {loop $attributes $index $child_item}
                    <li class="{if $child_item['id'] == $attribute} tabconsel {/if}" data-id="{$child_item['id']}">
                        <span class="ellipsis">{$child_item['name']}</span>
                        <i class="iconCorrect"></i>
                    </li>
                    {/loop}
                </div>

            </ul>
        </div>
    </div>

</div>
</form>



<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.core-2.5.2.js" type="text/javascript"></script>
<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.core-2.5.2-zh.js" type="text/javascript"></script>

<link href="{MODULE_URL}static/js/dist/mobiscroll/dev/css/mobiscroll.core-2.5.2.css" rel="stylesheet" type="text/css" />
<link href="{MODULE_URL}static/js/dist/mobiscroll/dev/css/mobiscroll.animation-2.5.2.css" rel="stylesheet" type="text/css" />
<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.datetime-2.5.1.js" type="text/javascript"></script>
<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.datetime-2.5.1-zh.js" type="text/javascript"></script>

<!-- S 可根据自己喜好引入样式风格文件 -->
<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.android-ics-2.5.2.js" type="text/javascript"></script>
<link href="{MODULE_URL}static/js/dist/mobiscroll/dev/css/mobiscroll.android-ics-2.5.2.css" rel="stylesheet" type="text/css" />

<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.android-2.5.1.js" type="text/javascript"></script>
<link href="{MODULE_URL}static/js/dist/mobiscroll/dev/css/mobiscroll.android-2.5.1.css" rel="stylesheet" type="text/css" />
<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.ios-2.5.1.js" type="text/javascript"></script>
<link href="{MODULE_URL}static/js/dist/mobiscroll/dev/css/mobiscroll.ios-2.5.1.css" rel="stylesheet" type="text/css" />
<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.jqm-2.5.1.js" type="text/javascript"></script>
<link href="{MODULE_URL}static/js/dist/mobiscroll/dev/css/mobiscroll.jqm-2.5.1.css" rel="stylesheet" type="text/css" />
<link href="{MODULE_URL}static/js/dist/mobiscroll/dev/css/mobiscroll.sense-ui-2.5.1.css" rel="stylesheet" type="text/css" />
<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.wp-2.5.2.js" type="text/javascript"></script>
<link href="{MODULE_URL}static/js/dist/mobiscroll/dev/css/mobiscroll.wp-2.5.2.css" rel="stylesheet" type="text/css" />
<!-- E 可根据自己喜好引入样式风格文件 -->

<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.list-2.5.1.js" type="text/javascript"></script>
<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.list-2.5.1.js" type="text/javascript"></script>
<script src="{MODULE_URL}static/js/dist/mobiscroll/dev/js/mobiscroll.select-2.5.1.js" type="text/javascript"></script>

<!--<script type="text/javascript" src="{MODULE_URL}static/js/dist/jquery-2.0.3.min.js"></script>-->
<link href="{MODULE_URL}static/js/dist/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<script type="text/javascript" src="{MODULE_URL}static/js/dist/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{MODULE_URL}static/js/dist/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>

<!--<script type="text/javascript" src="{MODULE_URL}static/js/dist/jquery.cookie.js"></script>-->
<script type="text/javascript" src="{MODULE_URL}static/js/dist/jquery.storageapi.min.js"></script>



<style>
    .datepicker-inline {
        width: 100%;
        margin-top: 1rem;
        background-color: white;
        border-radius: 6px;
    }
    .table-condensed{
        width: 100%;
    }


    .datepicker table {
        /*background-color: white;*/
    }
    .datepicker table tr td{
        height: 1.8rem;
        font-size: .7rem;
        /*border: .5rem solid;*/
    }

    .datepicker table tr th {
        height: 2.4rem;
        font-size: .9rem;
    }
    /* 背景图 */
    .full_screen {
        top: 6.8rem;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: white;
        z-index: 9;
        /*background-color:#000000;!* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 *!*/
        /*background-color:rgba(0,0,0,0.3); !* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 *!*/
    }
</style>

<style>

    .full_screen_btn{
        padding: .8rem 0rem;
    }
</style>
<div class="full_screen"  style="display: none;">
    <div id="datepicker"></div>
    <div style="position: fixed;bottom: 0;width: 100%;">
        <button id="btn_reset" class="full_screen_btn" style="width: 30%;float: left;background-color: white;color: #999999;">重置</button>
        <button id="btn_close" class="full_screen_btn" style="width: 70%;float: right;background-color: #1b37a8;color: white;">确认</button>
    </div>
</div>
<!--
http://www.bootcss.com/p/bootstrap-datetimepicker/
-->
<script language='javascript'>
$(function () {

    $('input[readonly]').on('focus', function() {
        $(this).trigger('blur');
    });

    var today = new Date(),
        currYear    = today.getFullYear();
        currMonth   = today.getMonth();
        currDay     = today.getDate();
        maxDate     = new Date(currYear, currMonth, currDay+10);

    var async_loading = function () {

        var date_selected = $("input[name='date_selected']").val();
//        var date_start = $("input[name='date_start']").val();
//        var date_end = $("input[name='date_end']").val();
        var time_start = $("input[name='time_start']").val();
        var time_end = $("input[name='time_end']").val();

        var structures_parentid = $("input[name='structures_parentid']").val();
        var structures_childid  = $("input[name='structures_childid']").val();
        var attribute           = $("input[name='attribute']").val();



        console.log("async_loading = "
                + "{$url_boardroom_async_list}"
                + "&date_selected=" + date_selected
//                + "&date_start=" + date_start
                + "&time_start=" + time_start
//                + "&date_end=" + date_end
                + "&time_end=" + time_end

                + "&structures_parentid=" + structures_parentid
                + "&structures_childid=" + structures_childid
                + "&attribute=" + attribute
        );

        $.alert("加载中...", 300);
        $(".boardroomlist").load("{$url_boardroom_async_list}"
                + "&date_selected=" + date_selected
//                + "&date_start=" + date_start
                + "&time_start=" + time_start
//                + "&date_end=" + date_end
                + "&time_end=" + time_end
                + "&structures_parentid=" + structures_parentid
                + "&structures_childid=" + structures_childid
                + "&attribute=" + attribute,
                function () {

                    // 预约按扭
                    $(".room-reserve").each(function(index,element){

                        var that_boardroom_id = $(this).data("boardroom_id");

                        $(this).bind('click', function(event) {

                            var tmp_show_error = "";

//                            $(".boardroomtime > span[data-error_msg!='']").each(function (index, element) {
                            $(".dateline_" + that_boardroom_id).each(function (index, element) {
                                console.log($(this).data('error_msg'));
                                tmp_show_error = tmp_show_error + $(this).data('error_msg');
//                                console.log(element);
                            });

                            if(tmp_show_error !== ''){
                                $.alert(tmp_show_error, 3000);
                                return;
                            }
//                            stbs : new Array()
                            var select_time_bar_submit = {
                                stbs : []
                            };

                            console.log("dateline_" + that_boardroom_id);

                            // dateline
                            $(".dateline_" + that_boardroom_id).each(function (index, element) {

                                console.log("dateline_"+that_boardroom_id + ":: each :: " + index);

//                                var that_boardroom_id=$(this).data("boardroom_id");
                                var that_lable=$(this).data("lable");
                                var that_can_booking=$(this).data("can_booking");
                                var that_error_msg=$(this).data("error_msg");
                                var that_timestamp = $(this).data("timestamp");
//                                var that_select_time_bar=$(this).data("select_time_bar");
//                                var that_select_time_bar = $("input[name='select_time_bar_"+that_boardroom_id+"']").val();
//                                alert(that_select_time_bar);
//                                console.log(JSON.parse(that_select_time_bar));

                                // 此变量名是在生成页面时生成
                                var vars_name = "select_time_bar_" + that_boardroom_id + "_" + that_timestamp;

                                select_time_bar_submit.stbs[index] = {
                                    "lable" : that_lable,
                                    "select_time_bar" : eval(vars_name)//动态得到
                                }

                            });

//                            console.log(select_time_bar_submit);
                            $("input[name='select_time_bar']").val(JSON.stringify(select_time_bar_submit));
                            $("input[name='id']").val(that_boardroom_id);

                            // Form 表单方式 修正为改下cookie
//                            console.log("from serialize :: ");
//                            console.log($("#form_submit").serialize());
//                            $("#form_submit").get(0).submit(function(e){});

                            // 尝试改用cookie 有bug select_time_bar长度太长 改用local storage 试下
//                            $.cookie('id', that_boardroom_id, { expires: 7, path: '/' });
//                            $.cookie('select_time_bar', JSON.stringify(select_time_bar_submit), { expires: 7, path: '/' });
//                            $.cookie('date_selected', date_selected, { expires: 7, path: '/' });
//                            $.cookie('time_start', time_start, { expires: 7, path: '/' });
//                            $.cookie('time_end', time_end, { expires: 7, path: '/' });

                            // local storage 可行
                            $.localStorage.set('id', that_boardroom_id);
                            $.localStorage.set('select_time_bar', JSON.stringify(select_time_bar_submit));
                            $.localStorage.set('date_selected', date_selected);
                            $.localStorage.set('time_start', time_start);
                            $.localStorage.set('time_end', time_end);


                            // TODO 要较正数据后才能跳转
                            location.href = "{php echo murl('entry' , array('m'=>'superdesk_boardroom_4school' , 'do'=>'boardroom_info'))}" + "&id=" + that_boardroom_id;

                        });
                    });
                }
        );
    };

    $(document).ready(function () {
        async_loading();
    });



    //初始化日期控件（时间）
    var opt_time = {
        preset: 'time', //日期
        stepMinute: 30,
        theme: 'android-ics light', //皮肤样式
        mode: 'scroller', //日期选择模式
        setText: '确定', //确认按钮名称
        cancelText: '取消',//取消按钮名籍我
        timeFormat: 'HH:ii',
        timeWheels: 'HHii',
        endYear:2017, //结束年份
        display:'bottom',
    };


    var opt_time_start = {};
    $.extend(opt_time_start,opt_time,{
        onSelect: function (valueText, inst) { //点击确定的事件
            var sub_time = valueText.substring(0,5);
            $("input[name='time_start']").val(sub_time);
            $("#span_time_start").html(sub_time);
        }
    });
    var opt_time_end = {};
    $.extend(opt_time_end,opt_time,{
        onSelect: function (valueText, inst) { //点击确定的事件
            var sub_time = valueText.substring(0,5);
            $("input[name='time_end']").val(sub_time);
            $("#span_time_end").html(sub_time);
            async_loading();
        }
    });


    $('#time_start').mobiscroll(opt_time_start);
    $('#time_end').mobiscroll(opt_time_end);

    $("#date_selected").bind('click', function(event) {

        $(".full_screen").fadeIn("flat");

    });

    $("#btn_reset").bind('click', function(event) {

        // TODO reset

        async_loading();

        $(".full_screen").fadeOut("flat");

    });

    $("#btn_close").bind('click', function(event) {

        async_loading();

        $(".full_screen").fadeOut("flat");

    });

    var picker = $('#datepicker').datepicker({
        multidate: true,
        inline: true,
        language: "zh-CN",
        format: "yyyy-mm-dd",
        defaultViewDate: {"year": "{$year}", "month": "{$month}", "day": "{$day}"},
        startDate:"{$Ymd_start}",
        endDate:"{$Ymd_end}"
    }).on('changeDate', function(e){
//            $('#date_selected').val(e.format('yyyy-mm-dd'));

        var tmp_value = picker.datepicker('getFormattedDate');
        console.log(tmp_value);

        $('#date_selected').val(tmp_value);




        // 转换
        var kk = tmp_value.split(",");
//        console.log(kk);
//        console.log(kk.length);
        var tmp_span_html = "";
        var shw_span_html =  new Array();
        for(var i = 0; i<kk.length;i++){
            if(kk[i] !== ''){
                shw_span_html[i] = moment(kk[i]).format('MM-DD');
            }
        }
        console.log(shw_span_html);

        $.each(shw_span_html, function(index, value, array) {

            var __spile__ = ",";
            if(index == (shw_span_html.length-1) ){__spile__ = ""; }

            tmp_span_html = tmp_span_html + value + __spile__;
            console.log(tmp_span_html);
        });
        // 转换


        //shw_span_html.substring(0,shw_span_html.lastIndexOf(',')) is error , because shw_span_html is array
        $('#span_date_selected').html(tmp_span_html);



    });

//        $('#datepicker').datepicker({
//            multidate: true
//        });

//        $('#datepicker').datepicker('setDates', [new Date(2014, 2, 5), new Date(2014, 3, 5)])

    var _tabnavIndex = 0;
    var _type = '';

    // TODO 横
    $(".tabnav").on("click", ".tabnavitem", function(){
        var _this = $(this);
        //TODO 顶住档先啦 , 中有个大bug要改
        var type = _this.attr('alt');

        _this.addClass("tabnavoptions");
        $(".list_content").hide();

        $("#"+type).show();
        showFilter();
        _tabnavIndex = _this.index();

        console.log("nav => " + type + " || index => " + _tabnavIndex);

        _type = type;
    });

    // TODO 竖
    $(".tabconlist").on("click", "li", function(){
        var _this = $(this);

        var id = _this.data("id");
        var listVal = _this.find("span").html();

        _this.addClass("tabconsel").siblings("li").removeClass("tabconsel");
        $(".tabnavitem").removeClass("tabnavoptions");
        $(".tabnavitem").eq(_tabnavIndex).addClass("tabanvsel")
        hideFilter(listVal);

        console.log(_type + " id => " + id + " || name => " + listVal);

        if(_type == 'building'){
            console.log("select building");

            $("#floor").load("{$url_ajax_boardroom_get_floor}"
                    + "&structures_parentid=" + id,
                    function () {});

            $("input[name='structures_parentid']").val(id);
            async_loading();
        } else if(_type == 'floor'){
            console.log("select floor");
            $("input[name='structures_childid']").val(id);
            async_loading();
        } else if(_type == 'room'){
            console.log("select room");
            $("input[name='attribute']").val(id);
            async_loading();
        }




    });


    //显示筛选
    var showFilter = function(){
        var _height = $(window).height();
        $(".tabconmask").show();
        $(".outer").height(_height);
    };
    var hideFilter = function(value){
        $(".tabnavitem").eq(_tabnavIndex).find("em").html(value);
        $(".tabconmask").hide();
        $(".outer").css({"height": "auto"});
    }

});
</script>

<div class="boardroomwrap">
    <ul class="boardroomlist"></ul>
</div>

{template '__nav__'}
{template '__footer'}