{template 'common/header'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('boardroom_manage', array('op' => 'list'))}">会议室列表</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('boardroom_manage', array('op' => 'edit'))}">{if
        isset($item[id])}编辑{else}新增{/if}会议室</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">

        <div class="panel panel-default">
            <div class="panel-heading">
                {if isset($item[id])}编辑{else}新增{/if}会议室
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="name" class="form-control" value="{$item['name']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">地址</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="address" class="form-control" value="{$item['address']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">楼层</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="floor" class="form-control" value="{$item['floor']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">交通</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="traffic" class="form-control" value="{$item['traffic']}"/>
                    </div>
                </div>

                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">经度</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="lat" class="form-control" value="{$item['lat']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">纬度</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="lng" class="form-control" value="{$item['lng']}"/>
                    </div>
                </div>
                -->

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_coordinate('baidumap', $item)}
                    </div>
                </div>




                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">图片</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('thumb', $item['thumb']);}
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="basic" class="form-control" value="{$item['basic']}"/>
                    </div>
                </div>
                -->
                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">轮播图</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="carousel" class="form-control" value="{$item['carousel']}"/>
                    </div>
                </div>
                -->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">租金/小时</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="price" class="form-control" value="{$item['price']}"/>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">设备 序列化的设备编号数组</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="equipment" class="form-control" value="{$item['equipment']}"/>
                    </div>
                </div>
                -->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">容纳人数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="max_num" class="form-control" value="{$item['max_num']}"/>
                    </div>
                </div>

                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="appointment_num" class="form-control"
                               value="{$item['appointment_num']}"/>
                    </div>
                </div>
                -->
                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">注意事项</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="remark" class="form-control" value="{$item['remark']}"/>
                    </div>
                </div>
                -->
                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">取消预约规则</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="cancle_rule" class="form-control" value="{$item['cancle_rule']}"/>
                    </div>
                </div>
                -->
                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">删除(1已删除)</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="deleted" class="form-control" value="{$item['deleted']}"/>
                    </div>
                </div>
                -->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" id="submit"/>
                        <input type="hidden" name="token" value="{$_W['token']}"/>
                        <input type="hidden" name="id" value="{$item['id']}"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

</script>

{template 'common/footer'}
