/* 
* @Author: anchen
* @Date:   2017-07-21 15:23:48
* @Last Modified by:   anchen
* @Last Modified time: 2017-07-24 14:41:25
*/
@charset "utf-8";
.sevicegoodslist {width: 100%;}
.sevicegoods {width: 100%; padding: .5rem 0.75rem; background-color: #fff; border-bottom: 1px solid #c8c8c8;}
.sevicegoodslist .sevicegoods:last-child {border-bottom:0;}
.goodsimg {overflow: hidden; float: left; width: 17%; height: 3rem; margin-right: 3%;}
.goodsimg img {display: block; width: 3rem; height: 3rem; margin: 0 auto;}
@media (max-width: 320px) {
    .goodsimg {padding: 0.25rem 0;}
    .goodsimg img {display: block; width: 2.5rem; height: 2.5rem; margin: 0 auto;}
}
.goodsname, .specifications {float: right; width: 79%; background-color: #fff;}
.goodsname em {float: left; width: 79%; font-size: .7rem; color:#333333;}
.goodsname span {float: right; font-size: .7rem; color:#333333;}
.specifications em {float: left; width: 53%; padding-top: 0.6rem; font-size: .7rem; color:#999;}
.specifications {margin-top: 0.5rem;}

.amount {position: fixed; bottom: 0; min-width: 320px; width: 100%; max-width: 750px; height: 2.5rem; background-color: #fff; box-shadow: 0 -1px 3px 0 #c8c8c8;}
.amount em {float: left; width: 60%; padding-left: 0.75rem; line-height: 2.5rem; font-size: .9rem; color:#1b37a8;}
.amount a {float: right; width: 40%; height: 2.5rem; font-size:.9rem; line-height: 2.5rem; text-align: center; color:#ffffff; background-color: #1b37a8;}