/* 
* @Author: anchen
* @Date:   2017-07-20 14:01:45
* @Last Modified by:   anchen
* @Last Modified time: 2017-07-25 09:47:21
*/
@charset "utf-8";
body {padding-bottom: 3.25rem;}
.roominfoswiper {width: 100%; height: 10.5rem; background-color: #000;}
.swiperimg {width: 100%; height: 10.5rem;}
.swiper-slide img {position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: block; margin: auto; width: 100%;}
.roominfoswiper .swiper-pagination {bottom: .5rem; left: auto; right: .5rem; height: 0.9rem; padding: 0 .5rem; width: auto; font-size:.6rem; color:#ffffff; line-height: .9rem; text-align: center; background-color: rgba(0, 0, 0, .5);  border-radius: 4px;}
.roominformation {width: 100%; padding: .75rem; background-color: #fff; border-bottom: 1px solid #c8c8c8;}
.roominfoname {width: 100%;}
.roominfoname em {float: left; width: 75%; font-size:.7rem; color:#333333; line-height: 1rem;}
.roominfoname span {float: right; font-size:.7rem; color:#333333; line-height: 1rem;}
.roominfotext {width: 100%;}
.roominfotext em {font-size:.6rem; color:#666666; margin-right: .5rem;}
.roominfo-address {display:  block; width: 100%; height: 2.2rem; padding: 0 .75rem; background-color: #fff;}
.address-icon {float: left; width: 6%; height: 2.2rem; background: url("../images/location_icon.png") left center no-repeat; background-size: 100% auto;}
.address-right {float: right; width: 6%; height: 2.2rem; background: url("../images/xiangyou.png") right center no-repeat; background-size: 1.1rem auto;}
.roominfo-address span {float: left; width: 85%; margin-left: 3%; line-height: 2.2rem; font-size:.7rem; color:#333333;}
.roominfo-subtit {width: 100%; padding: 0.5rem .75rem .25rem; line-height: .9rem; font-size: .6rem; color:#666666;}
.roominfo-con {width: 100%; min-height: 3.2rem; padding: .5rem .75rem; font-size: .6rem; color:#333333; background-color: #fff;}


.showbigWrap {position: fixed; top: 0; bottom: 0; width: 100%; max-width: 750px; min-width: 320px; background-color: #000; display: none; z-index: 5;}
.showBigswiper {width: 100%; height: 100%;}
.showBigswiper .swiper-pagination {bottom: 0; color: #fff; line-height: 1rem; font-size: .7rem; background-color: rgba(0, 0, 0, .5);}
.closeshowbig {position: absolute; top: .75rem; right: .75rem; width: 1.1rem; height: 1.1rem; background: url("../images/closebigshow.png") 0 0 no-repeat; background-size: 100% auto; z-index: 5;}