.roomdesk span {
    float: left;
}

.roomdesk i {
    float: left;
}

.deskicon {
    width: 0.7rem;
    height: .7rem;
    margin-right: 0.2rem;
    background: url("../images/desk.png") 0 center no-repeat;
    background-size: 100% .55rem;
}

.sofaicon {
    width: 0.7rem;
    height: .7rem;
    margin-left: 0.7rem;
    margin-right: 0.2rem;
    background: url("../images/sofa.png") 0 center no-repeat;
    background-size: 100% .55rem;
}