.myfootertext {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    max-width: 750px;
    padding: .5rem 0 .5rem;
    background-color: #fff;
    box-shadow: 0 -1px 2px 0 #d2d2d2;
    z-index: 9;
}
.mytwoText {
    width: 8rem;
    margin: 0 auto 0;
}

.mytwoText a {
    float: left;
    font-size: .6rem;
    color: #1b37a8;
}

.mytwoText a:nth-child(1) {
    padding-right: 1rem;
    border-right: 1px solid #c8c8c8;
}

.mytwoText a:nth-child(2) {
    padding-left: 1rem;
}

.mytwoText .mytext {
    color: #bfbfbf;;
}