{loop $list $index $item}
<li class="boardroomitem">
    <div class="boardroominfo clearfix">
        <div class="roomimg" style="background: url({php echo tomedia($item['thumb'])}) center center no-repeat;background-size: auto 100%;"></div>
        <h3 class="roomname ellipsis">{$item['name']}</h3>
        <div class="roomprice"><!-- {$item['price']}元/时 -->&nbsp;&nbsp;&nbsp;</div>
        <div class="roominfo">
            <em>楼层：{$item['floor']}层</em>
            <em>容纳人数：{$item['max_num']}人</em>
        </div>

        <a href="{php echo murl('entry' , array('m'=>'superdesk_boardroom' , 'do'=>'boardroom_info', 'id'=>$item['id'] , 'ymd' => $Ymd))}" title="预定" class="room-reserve">预定</a>
    </div>
    <div class="boardroomtime">
        <!-- 占用添加类名“occupygrid”   未占用类名为 class="occupygrid"（空）-->
        <ul class="boardroomtimebar clearfix">
            <li class="roomtimeam"></li>
            {php for($index = 0 ;$index < sizeof($item['situation']['am']);$index+=2){}
            <li class="roomtime">
                <i {if $item['situation']['am'][$index]['is_use'] == 1 || $item['situation']['am'][$index]['timestamp'] < $now}class="occupygrid"{/if}></i>
                <i {if $item['situation']['am'][$index+1]['is_use'] == 1 || $item['situation']['am'][$index]['timestamp'] < $now}class="occupygrid"{/if}></i>
                <span>{php echo $item['situation']['am'][$index][index]/2}</span>
            </li>
            {php }}
        </ul>
        <ul class="boardroomtimebar clearfix">
            <li class="roomtimepm"></li>
            {php for($index = 0 ;$index < sizeof($item['situation']['pm']);$index+=2){}
            <li class="roomtime">
                <i {if $item['situation']['pm'][$index]['is_use'] == 1 || $item['situation']['pm'][$index]['timestamp'] < $now}class="occupygrid"{/if}></i>
                <i {if $item['situation']['pm'][$index+1]['is_use'] == 1 || $item['situation']['pm'][$index]['timestamp'] < $now}class="occupygrid"{/if}></i>
                <span>{php echo ($item['situation']['pm'][$index][index])/2}</span>
            </li>
            {php }}
        </ul>
    </div>
</li>
{/loop}
