{template 'common/header'}

<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('ms_coupon_sendresult', array('op' => 'list'))}">#list#</a></li>
    <li><a href="{php echo $this->createWebUrl('ms_coupon_sendresult', array('op' => 'edit'))}">#add#</a></li>
</ul>

<div class="main">
    <form action="" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                #list#
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:5rem;">显示顺序</th>
    <th style="width:10%;"></th>
    <th style="width:10%;">发送时间</th>
    <th style="width:10%;">企业ID</th>
    <th style="width:10%;">发送方式，0：自动，1：手动</th>
    <th style="width:10%;">优惠券唯一ID</th>
    <th style="width:10%;">1:完成，2：失败</th>
    <th style="width:10%;">发送id</th>
    <th style="width:10%;">用户id</th>
                        <th style="text-align:right; width:10%;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $item}
                    <tr>

                        <td><input type="text" class="form-control" name="displayorder[{$item['id']}]" style="width: 5rem;" value="{$item['displayorder']}"></td>

<td>{$item['coupon_sendresult_id']}</td>
    <td>{$item['coupon_sendresult_ctime']}</td>
    <td>{$item['e_id']}</td>
    <td>{$item['coupon_sendresult_type']}</td>
    <td>{$item['coupon_standard_pkcode']}</td>
    <td>{$item['coupon_sendresult_state']}</td>
    <td>{$item['coupon_send_id']}</td>
    <td>{$item['m_id']}</td>
                            <td style="text-align:right;">
                            <a href="{php echo $this->createWebUrl('ms_coupon_sendresult', array('id' => $item['id'], 'op' => 'edit'));}"class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil">&nbsp;编辑</i></a>&nbsp;&nbsp;
                            <a href="{php echo $this->createWebUrl('ms_coupon_sendresult', array('id' => $item['id'], 'op' => 'delete'));}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="" onclick="if(!confirm('删除后将不可恢复,确定删除吗?')) return false;" data-original-title="删除"><i class="fa fa-times">&nbsp;删除</i> </a>
                        </td>
                    </tr>
                    {/loop}
                    <tr>
                        <td>
                            <input name="submit" type="submit" class="btn btn-primary" value="提交">
                            <input type="hidden" name="token" value="{$_W['token']}" />
                        </td>
                        <td colspan="5">
                            {$pager}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

{template 'common/footer'}
