{template 'common/header'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('ms_integral_used_record', array('op' => 'list'))}">#list#</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('ms_integral_used_record', array('op' => 'edit'))}">{if isset($item[id])}#edit#{else}#add#{/if}</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">

        <div class="panel panel-default">
            <div class="panel-heading">
                {if isset($item[id])}#edit#{else}#add#{/if}
            </div>
            <div class="panel-body">
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">使用记录id</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="integral_used_record_id" class="form-control" value="{$item['integral_used_record_id']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">积分数据id</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="integral_used_record_data_id" class="form-control" value="{$item['integral_used_record_data_id']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">订单id</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="integral_used_record_orderid" class="form-control" value="{$item['integral_used_record_orderid']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">使用积分数量</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="integral_used_record_number" class="form-control" value="{$item['integral_used_record_number']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">使用积分时间</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="integral_used_record_ctime" class="form-control" value="{$item['integral_used_record_ctime']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品id</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="integral_used_record_goodsid" class="form-control" value="{$item['integral_used_record_goodsid']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员id</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="integral_used_record_mid" class="form-control" value="{$item['integral_used_record_mid']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">记录类型 1：使用   </label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="integral_used_record_type" class="form-control" value="{$item['integral_used_record_type']}"/>
    </div>
</div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" id="submit"/>
                        <input type="hidden" name="token" value="{$_W['token']}"/>
                        <input type="hidden" name="id" value="{$item['id']}"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

</script>

{template 'common/footer'}
