{template 'common/header'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('sll_water_coin', array('op' => 'list'))}">#list#</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('sll_water_coin', array('op' => 'edit'))}">{if isset($item[id])}#edit#{else}#add#{/if}</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">

        <div class="panel panel-default">
            <div class="panel-heading">
                {if isset($item[id])}#edit#{else}#add#{/if}
            </div>
            <div class="panel-body">
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水币ID</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="water_coin_id" class="form-control" value="{$item['water_coin_id']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水币序列码</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="water_coin_code" class="form-control" value="{$item['water_coin_code']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水币编码</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="water_coin_no" class="form-control" value="{$item['water_coin_no']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">自定义主键标识</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="water_coin_pkCode" class="form-control" value="{$item['water_coin_pkCode']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水卡创建记录主键编码</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="water_card_create_note_pk_code" class="form-control" value="{$item['water_card_create_note_pk_code']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水卡主键编码</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="water_card_pkCode" class="form-control" value="{$item['water_card_pkCode']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水币状态0无效1有效</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="water_coin_status" class="form-control" value="{$item['water_coin_status']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水币创建时间</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="water_coin_ctime" class="form-control" value="{$item['water_coin_ctime']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品ID</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="goods_id" class="form-control" value="{$item['goods_id']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">市级用户ID</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="user_id" class="form-control" value="{$item['user_id']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="openid" class="form-control" value="{$item['openid']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">使用时间</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="water_coin_usetime" class="form-control" value="{$item['water_coin_usetime']}"/>
    </div>
</div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" id="submit"/>
                        <input type="hidden" name="token" value="{$_W['token']}"/>
                        <input type="hidden" name="id" value="{$item['id']}"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

</script>

{template 'common/footer'}
