{template 'common/header'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('sll_buckets', array('op' => 'list'))}">#list#</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('sll_buckets', array('op' => 'edit'))}">{if isset($item[id])}#edit#{else}#add#{/if}</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">

        <div class="panel panel-default">
            <div class="panel-heading">
                {if isset($item[id])}#edit#{else}#add#{/if}
            </div>
            <div class="panel-body">
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水桶管理记录ID</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="buckets_id" class="form-control" value="{$item['buckets_id']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">微信用户ID</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="fans_id" class="form-control" value="{$item['fans_id']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">领桶(开始)时间</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="get_time" class="form-control" value="{$item['get_time']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水店ID</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="user_id" class="form-control" value="{$item['user_id']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">手机</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="number" class="form-control" value="{$item['number']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">0:已领取，1：已归还 , 2：未领取</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="status" class="form-control" value="{$item['status']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">品牌名称</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="goods_id" class="form-control" value="{$item['goods_id']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="order_id" class="form-control" value="{$item['order_id']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">还桶(结束)时间</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="return_time" class="form-control" value="{$item['return_time']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">品牌名称</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="goods_name" class="form-control" value="{$item['goods_name']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水桶品牌</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="user_name" class="form-control" value="{$item['user_name']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">总价</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="total_deposit" class="form-control" value="{$item['total_deposit']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">桶数量</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="buckets_number" class="form-control" value="{$item['buckets_number']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">单价</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="single_deposit" class="form-control" value="{$item['single_deposit']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"> 水店</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="water_shop" class="form-control" value="{$item['water_shop']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">公司</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="company" class="form-control" value="{$item['company']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">水店押金</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="watershop_deposit" class="form-control" value="{$item['watershop_deposit']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">剩余押金</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="surplus_deposit" class="form-control" value="{$item['surplus_deposit']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">空桶总数量</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="empty_bucket" class="form-control" value="{$item['empty_bucket']}"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">退桶数量</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="return_bucket" class="form-control" value="{$item['return_bucket']}"/>
    </div>
</div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" id="submit"/>
                        <input type="hidden" name="token" value="{$_W['token']}"/>
                        <input type="hidden" name="id" value="{$item['id']}"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

</script>

{template 'common/footer'}
