{template 'common/header'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('virtualarchitecture', array('op' => 'list'))}">企业资料管理</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('virtualarchitecture', array('op' => 'edit'))}">{if
        isset($item[id])}编辑{else}添加{/if}企业资料</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">

        <div class="panel panel-default">
            <div class="panel-heading">
                {if isset($item[id])}编辑{else}添加{/if}企业资料
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">学院名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="name" class="form-control" value="{$item['name']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">项目ID</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="organizationId" class="form-control"
                               value="{$item['organizationId']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">类型(1-学院、2-专业)</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="type" class="form-control" value="{$item['type']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">当前节点Code</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="code" class="form-control" value="{$item['code']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">父节点Code</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="parentCode" class="form-control" value="{$item['parentCode']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">备注</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="remark" class="form-control" value="{$item['remark']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">唯一编码</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="codeNumber" class="form-control" value="{$item['codeNumber']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">客户签约编号</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="customerNumber" class="form-control"
                               value="{$item['customerNumber']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系电话</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="phone" class="form-control" value="{$item['phone']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">企业详细地址</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="address" class="form-control" value="{$item['address']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系人</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="contacts" class="form-control" value="{$item['contacts']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">企业人数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="employees" class="form-control" value="{$item['employees']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">预存款余额</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="reserveBalance" class="form-control"
                               value="{$item['reserveBalance']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">客户类型（1-VIP客户，0-普通客户）</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="customerType" class="form-control" value="{$item['customerType']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">签约状态（1-已签约，0-未签约）</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="contractStatus" class="form-control"
                               value="{$item['contractStatus']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">企业状态（0-待审核，1-通过，2-不通过）</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="status" class="form-control" value="{$item['status']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">审核信息说明</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="reviewRemark" class="form-control" value="{$item['reviewRemark']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">申请人的微信信息ID</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="wxUserId" class="form-control" value="{$item['wxUserId']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">创建者</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="creator" class="form-control" value="{$item['creator']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">创建时间</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="createTime" class="form-control" value="{$item['createTime']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">修改人</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="modifier" class="form-control" value="{$item['modifier']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">修改时间</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="modifyTime" class="form-control" value="{$item['modifyTime']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否可用或者删除1可用，0不可用</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="isEnabled" class="form-control" value="{$item['isEnabled']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">创建时间</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="createtime_" class="form-control" value="{$item['createtime_']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否可用或删除</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="enabled" class="form-control" value="{$item['enabled']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" id="submit"/>
                        <input type="hidden" name="token" value="{$_W['token']}"/>
                        <input type="hidden" name="id" value="{$item['id']}"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

</script>

{template 'common/footer'}
