<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="{MODULE_URL}template/mobile/css/reset.css" />
        <style type="text/css">
            html, body {background-color: #000;}
            img {position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: block; margin: auto; width: 100%;}
        </style>
    </head>
    <body>
        <img src="{MODULE_URL}template/mobile/images/demo/8.png" alt="" />
    </body>
</html>